.dashboard-title {
  font-size: 26px;
}

.dashboard-info-box {
  width: 160px
}
.dashboard-no-reviews-box {
  height:200px;
  width:250px
}
.dashboard-no-reviews {
  font-size: 180px;
}

.warn-text-hover:hover {
  opacity: 0.6;
}
