
.tab-item {
  outline: none;
  cursor: pointer;
}
.tab-active {
  border-bottom: 4px solid #6300ED;
  color: #6300ED;
}
.tab-item:hover {
  border-bottom: 4px solid #6300ED;
}


hr {
  margin-top: 1em;
  margin-bottom: 1em;
}
