<div class="row d-flex p-3">
  <div class="guide-entry">
    <i [ngClass]="{'fas fa-check-square guide-completed': projectDashboard.hasLabelConfiguration,
                   'far fa-square guide-pending': !projectDashboard.hasLabelConfiguration}" ></i>
    <app-help link="/label-configuration/what-is-a-label-configuration"></app-help>
    <span>{{'FEATURE.PROJECT.GUIDE.CONFIG' | translate}}</span>
  </div>
  <div class="guide-entry">
    <i class="fas fa-arrow-right" [ngClass]="{'guide-completed': projectDashboard.datasets.length > 0,
                                                'guide-pending': projectDashboard.datasets.length === 0}" ></i>
    <i [ngClass]="{'fas fa-check-square guide-completed': projectDashboard.datasets.length > 0,
                   'far fa-square guide-pending': projectDashboard.datasets.length === 0}" ></i>
    <app-help link="dataset/create-a-new-dataset"></app-help>
    <span>{{'FEATURE.PROJECT.GUIDE.DATASETS' | translate}}</span>
  </div>
  <div class="guide-entry">
    <i class="fas fa-arrow-right" [ngClass]="{'guide-completed': tasksReleased,
                                              'guide-pending': !tasksReleased}" ></i>
    <i [ngClass]="{'fas fa-check-square guide-completed': tasksReleased,
                   'far fa-square guide-pending': !tasksReleased}" ></i>
    <app-help link="tasks/manage-tasks"></app-help>
    <span>{{'FEATURE.PROJECT.GUIDE.TASKS' | translate}}</span>
  </div>
  <div class="guide-entry">
    <i class="fas fa-arrow-right" [ngClass]="{'guide-completed': collaboratorPermission,
                                              'guide-unavailable': !collaboratorPermission}" ></i>
    <i class="fas fa-exclamation-circle" [ngClass]="{'guide-completed': collaboratorPermission,
                                                     'guide-unavailable': !collaboratorPermission}"
                                          style="padding-right: 2px"></i>
    <span *ngIf="collaboratorPermission">
      {{'FEATURE.PROJECT.GUIDE.COLLABORATION.AVAILABLE' | translate}}
    </span>
    <span class="guide-unavailable text-left" *ngIf="!collaboratorPermission">
      {{'FEATURE.PROJECT.GUIDE.COLLABORATION.UNAVAILABLE' | translate}}
    </span>
  </div>
</div>
