
.task-container {
  margin: 1em;
}

.single-task {
  border-radius: 2px;
  width: 350px;
  box-sizing: border-box;
}

.body {
  border: 1px solid #C0C0C0;
  border-bottom: none;
  padding: 1.5em 2em 1em 1.5em;
}

.empty-button {
  height: 36px;
  margin: 0 15px;
  border-left: 1px solid #C0C0C0;
  border-right: 1px solid #C0C0C0;
}

h2 {
  font-weight: bold;
  margin-bottom: 1.5em;
}
i.fas {
  margin-right: 1em;
}
p {
  margin-top: 1rem;
}
